const INCREMENT = 'module_name/my_action_identifier/INCREMENT';
const DECREMENT = 'module_name/my_action_identifier/DECREMENT';

export default function reducer(state = 0, action = {}) {
  switch (action.type) {
  case INCREMENT:
    return state + 1;
  case DECREMENT:
    return state - 1;
  default:
    return state;
  }
}

export function increment() {
  return { type: INCREMENT };
}

export function decrement() {
  return { type: DECREMENT };
}
